:root{
  /* Dark Palette */
    --black: #000000ff;
    --eerie-black: #1C1C1Cff;
    --jet: #393939ff;
    --davys-grey: #555555ff;
    --sonic-silver: #717171ff;
  /* Light Palette */
    --spanish-gray: #8E8E8Eff;
    --silver-chalice: #AAAAAAff;
    --silver: #C6C6C6ff;
    --platinum: #E3E3E3ff;
    --white: #ffffff;
  /* Colorful Palette */
    --eggshell: #f4f1deff;
    --terra-cotta: #e07a5fff;
    --independence: #3d405bff;
    --green-sheen: #81b29aff;
    --deep-champagne: #f2cc8fff;
}

/*******************************************************************
  RESET SECTION:
*******************************************************************/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/*******************************************************************
  DYNAMIC SECTION
*******************************************************************/

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--eggshell);
  font-size: 18px;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*******************************************************************
  HEADER SECTION
*******************************************************************/

.header{
  border-bottom: 1px solid var(--white);
  background-color: var(--independence);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white);
}

.nav-link:hover{
  color: var(--green-sheen);
}

/*******************************************************************
  MAIN SECTION
*******************************************************************/
main{
  position: relative;
  padding-top: 100px;
}

h1 {

  color: var(--independence);
  font-size: 80px;
  text-align: center;
  margin: 40px 5px;
}

h2 {
  padding: 10px;
  background-color: var(--green-sheen);
  color: var(--white);
  margin-bottom: 0;

}

h4 {
  color: var(--white);
}

p {
  padding: 5px;
  font-family: Helvetica, sans-serif;
}

a {
  color: var(--white);
  cursor: pointer;
}

a:hover {
  color: var(--green-sheen);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--white);
}

button {
  padding: 20px 30px;
  margin: 0 auto;
  background-color: var(--sonic-silver);
  color: var(--white);
  font-size: 18px;
}

.title {
  background-image: url("wireframinglightsmall.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.construction {
  background-image: url("constructionsitedark.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.construction h1{
  color: var(--white);
}

.construction container {
  padding: 20px;
  text-align: center;
  background-color: var();
  color: var(--white);
}

.emailme {
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  padding: 5px;
  margin: 5px;
}

.me {
  float: right;
  padding: 20px;
  border-radius: 100%;
}

#aboutme {
  background-color: var(--independence);
  color: var(--white);
}

#aboutme p{
  line-height: 1.4em;
  padding: 10px 30px;
}

#projectexamples {
  height: 100%;
  overflow: auto;
}

.three-columns{
  background-color: var(--white);
  min-height: 350px;
  margin: 30px auto;
}

.column{
  box-sizing: border-box;
  text-align: center;
  float: left;
  width: 30%;
  margin: 1.65%;
  padding: 50px 10px;
  flex-direction: column;
  color: var(--black);
}

.column h3 a{
  color: var(--black);
}

.column p{
  color: var(--black);
}

.container a {
  color: var(--independence);
}

.container a:hover {
  color: var(--green-sheen);
}

.container {
  background-color: var(--white);
  background-size: cover;
  color: var(--independence);
  box-sizing: border-box;
  float: left;
  width: 30%;
  height: 500px;
  margin: 1.65%;
  border: 2px solid black;
  padding: 5px 5px;
  flex-direction: column;
}

.container p {
  overflow: auto;
  color: var(--black);
  padding: 10px;
}

.banner {
  background-color: var(--davys-grey);
  padding: 30px;
  margin: 50px auto;
}

.banner h2, p{
  color: var(--white);
  padding: 30px;
}

.easterEgg{
  background-color: var(--black);
  color: var(--white);
}

.easterEgg h1{
  display: none;
}

.easterEgg .title a{
  display: none;
}

.easterEgg .title{
  background-image: url("castle.jpg");
  opacity: .5;
}


.easterEgg #contactme{
  background-color: var(--eerie-black);
}

footer.easterEgg{
  background-color: var(--eerie-black);
}


footer {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: var(--terra-cotta);
  color: var(--white);
  padding: 10px;
}

.icon, .hamburger {
  display: none;
}

@media only screen and (max-width:1148px) {
  .container {
    height: max-content;
    width: 100%;
    margin-left: 0;
  }

  .three-columns{
    margin: 50px auto;
    height: 1000px;
  }
  .column{
    height: max-content;
    width: 100%;
  }
  
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--deep-champagne);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }

}

@media only screen and (max-width:700px) {
  h1 {
    font-size: 42px;
  }

  h4 {
    color: var(--independence);
  }

  .me {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #projects {
    background-image: none;
  }

  #experiments {
    background-image: none;
  }

}